NODE_ENV=development
PORT=8000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=careertrack
DB_USER=postgres
DB_PASSWORD="root"

# JWT
JWT_SECRET="eab1181beb5a98f4acf64a24aca0cd7d6ab735105edb953b65f8b38eacc2f688"
JWT_EXPIRATION=7d

# CORS
FRONTEND_URLS=http://localhost:8002,http://localhost:3000,http://localhost:8081
